@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    color: black;
}

main {
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}

/*para todas as secoes*/
section {
    border-bottom: solid 0.25em #000000;
}

section {
    width: 100%;
    height: 100%;
    padding: 50px 50px;
}

h1 {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 1em;
}

/*Cabecalho*/

 #home {    
	padding: 0 50px 20px 50px;
    width: 100%;
    height: 100vh;    
    text-align: center;
    background-image: linear-gradient(#f7BBBB, #BBB, gray);
}

.button-menu-mobile {
    display: none;
}

.header-ul {
    position: absolute;
    width: 100%;
    left: 0;
    top: 1em;
}

.header-ul li {
    display: inline-block;
    margin-left: 20px;
}

.button-menu-mobile {
    display: none;
}

.header-div {
    width: 300px;
    height: 600px;
    margin: auto auto;
    padding-top: 200px;
}

.header-img {
    width: 100%;
    margin: 0 auto;
    transition: 1.5s;
}

.header-img:hover {
    width: 40%;
    transform: rotate(-360deg);
}

.header-link {
    display: inline-block;
    line-height: 30px;
    width: 100px;
    text-decoration: none;
    font-weight: bold;
    color: #bbb;
    transition: 0.8s;
    border-radius: 5px;
    border: solid 1px #FFFFFF;
    background: rgba(0, 0, 0, 0.5);
}

.header-link:hover {
    transform: scale(1.05);    
    background: #000000;    
    color: #BBBBBB;
}

.header-link:active {
    background: rgb(133, 132, 132);
    color: #BBBBBB;
}

.header > a {
    position: fixed;
    right: 3em;
    bottom: 1em;
    transition: 1s all;
    transform: rotate(90deg);
}

.header > a path {
    fill: #FFF;
}

.header > a:hover {
    transform: scale(1.5); 
    transform: rotate(450deg);
}

/*Sobre*/
.sobre {
    background: rgb(194, 164, 109);
    text-align: center;
    line-height: 2em;
}

.sobre h1::before {
    content: "[";
    color: #bbb;
}

.sobre h1::after {
    content: "]";
    color: #bbb
}

.sobre strong {
    font-weight: bold;
}

.sobre em {
    font-style: italic;
}

/*Projetos*/
.projetos {
    background: rgb(65, 65, 105);
}

/*Contato*/
.contato {
    background: rgb(253, 77, 77);
    text-align: center;
}

.contato label, input, textarea, legend {
    text-align: left;
    display: block;
    width: 100%;
    padding: 10px 15px;
}
.contato textarea {
    resize: none;
}

.contato input {
    border-radius: 5px;
    border: solid 0.5px #BBBBBB;
}

.contato input:hover, textarea:hover {
    border: solid 1.5px #BBBBBB;
}

.contato input:focus , textarea:focus {
    outline: 0;
    box-shadow: inset 0 0 1em gold;
}

.contato fieldset {
    display: inline-block;
    width: 45%;
    vertical-align: top;
}

.contato .button-submit {
    background: transparent;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    transition: 0.8s;
    border: none;
    border-bottom: solid 1px #FFFFFF;
}

.contato .button-submit:hover {
    transform: scale(1.2);
    background: #000000;    
    color: #BBBBBB;
}

/*Rodape*/
.footer {
    padding: 40px;
    background: url("../img/bg.jpg") repeat;
    text-align: center;  
}

footer p {
    color: #FFFFFF;
    margin-top: 10px;
}

.footer > div {
    width: 10%;
    margin: 0 auto;
}

.footer > div > img {
    width: 100%;
}   

@media screen and (max-width: 480px) {
    /*config para todas as secoes*/
    section, footer {
        padding: 1.8em 1em;
    }

    /*header*/
    .button-menu-mobile {
        position: fixed;
        display: block;
        left: 0.2em;
        top: 1em;
        background-color: transparent;
        border: none;
        font-size: 1.5em;
        font-weight: bold;
        transform: rotate(90deg);       
        transition: .3s all;
    }
    
    .active #button-menu-mobile {
        transform: rotate(-270deg);  
    }

    .header-ul {        
        display: none;
    }


    .active .header-ul {
        display: block;
        width: 75%;
        left: 1.5em;
        margin: 0 auto;
        position: absolute;
        background: transparent;
    }

    .header-ul > li {
        display: inline-block;
        width: 100%;
    }
    
    .header-link {
        width: 100%;
    }

    .header-div {
        padding-top: 50%;
        width: 100%;
    }

    .header > a {        
        right: 1em;
    }

    /*sobre*/
    .sobre {
        height: 120%;
    }

    .sobre h1 {
        font-size: 1.5em
    }

    .sobre p {
        text-align: start;
        font-size: 0.8;
    }

    .sobre p::first-letter {
        font-weight: bold;
    }


    /*Contato*/
    .contato {
        height: 120%;
    }

    .contato fieldset {
        width: 100%;
    }   
    
    .contato textarea {
        height: 10em;
    }


    /*footer*/
    .footer {
        height: 100vh;
    }

    .footer > div {
        width: 100%;        
        margin: 30% auto;
    }
}